<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">  
    <title>Webhook tester</title>
	<link rel="shortcut icon" href="favicon.png" type="image/png" />
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/htmx.org@1.8.0" integrity="sha384-cZuAZ+ZbwkNRnrKi05G/fjBX+azI9DNOkNYysZ0I/X5ZFgsmMiBXgDZof30F5ofc" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">
		<img src="transparent-logo.png" class="center">
		
		<div id="clearButton">
			
			<h1>Incoming Webhooks</h1>
			
			<button id="push" hx-target="#entries" hx-get="clear">Clear all</button>
		</div>
		<div id="entries" hx-get="callme" hx-trigger="every 1s">
<!--

			<div class="entry">
                <span id="dfd">
                    Application web was deployed successfully to cluster 3
                </span>
            </div>

			<div class="entry">
                <span id="dfdf">
                    Application web was deployed successfully to cluster 2
                </span>
            </div>

			-->
		</div>
	
	</div>

  </body>
</html>